html,body {
  font-family: "Work Sans",Arial,Helvetica,Sans-Serif;
  background: black;
  color: white;
  position: relative;
  margin-top: 25px;
  opacity: 0;
  -webkit-font-smoothing: antialiased;

  @media(min-width:960px) {
    margin-top: 0;
  }
}
$font-color: #CCCCCC;
