.sidebar {
  // padding: 50px;
  height: auto;
  // height: 700px;
  padding: 0;
  position: relative;
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;

  @media(min-width: 1000px) {
    margin-top: 50px;
    // border: 1px solid white;
    margin: 0;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 5px solid white;
    padding: 25px;

    @media(min-width: 1000px) {
      font-size: 2.5em;
      line-height: 40px;
      margin-bottom: 20px;
      padding-left: 0;
    }
  }

  img {
    // border-radius: 50%;
  }
}

.profile-image {
  border-bottom: 5px solid white;
  margin-bottom: 25px;
}

.sidebar-content {
  border-bottom: 5px solid white;

  @media(min-width: 1000px) {
    // padding: 50px;
    padding: 25px;
    border-bottom: none;
  }

  ul {
    padding: 25px;

    @media(min-width: 1000px) {
      padding: 0;
    }
  }
}

.sidebar-link {
  text-transform: uppercase;
  margin-bottom: 10px;

  a {
    color: $font-color;
    font-size: 0.7em;
    transition: all .4s ease-out;

    @media(min-width: 1000px) {
      font-size: 0.8em;
    }

    &:hover {
      color: white;
    }
  }

  .fa {
    vertical-align: baseline;
    margin-right: 10px;
    font-size: 1.5em;
  }
}

.profile-image {
  padding-top: 25px;
  padding-bottom: 25px;
}

.sidebar-social-links-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;

  .social-links {
    li {
      display: inline-block;
      font-size: 1em;
      margin-right: 10px;
    }
  }

  .fa {
    color: black;
  }
}
.nav-toggle {
  position: absolute;
  right: 0;
}

.awards {
  margin-top: 25px;
  border-top: 5px solid white;

  h2 {
    font-weight: bolder;
    text-transform: uppercase;
    margin: 25px;
  }

  ul {
    list-style: initial;
    font-size: 0.8em;

    li {
      margin-bottom: 10px;
    }

    @media(min-width: 960px) {
      font-size: 0.9em;
    }
  }
}