html,body {
  font-family: 'Roboto', sans-serif;
  background: black;
}

a {
  color: white;
  transition: ease all 0.2s;
  text-transform: uppercase;
  font-size: 12px;
}

p {
  font-size: 14px;
  color: #9B9B9B;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 24px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 22px;
}

a,h1,h2 {
  letter-spacing: 2px;
}

h2 .fa,
h1 .fa {
  color: inherit;
  vertical-align: baseline;
  margin-right: 5px;
}

.hidden {
  opacity: 0;
}

.nav {
  background: black;
  text-transform: uppercase;
}

.nav .container {
  background: black;
}

a.nav-title.nav-item {
  color: white;
}

.nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-toggle span {
  background: white;
}

.nav-menu {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 1008px){
  .nav-menu {
    box-shadow: none;
  }
}

.nav-menu a.nav-item {
  color: #9B9B9B;
  font-size: 14px;
  letter-spacing: 2px;
  background: black;
  border-top: 1px solid #232429;
}

.nav-toggle:hover {
  background-color: black;
}

.container.projects-page,
.resume-container {
  height: 100%;
  padding: 24px;
  margin: 0 auto;
  padding: 24px;
  max-width: 960px;
}

.sidebar {
  float: left;
  width: 33%;
  height: 100%;
  background: black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  position: relative;
  height: 600px;
}

.profile-image {
  overflow: hidden;
  border-bottom: 1px solid #232429;
  padding-bottom: 24px;
  height: 300px
}

.profile-image img {
  border-radius: 50%;
}

.sidebar-content {
  padding: 24px;
}

.sidebar-link {
  margin-top: 12px;
}

.sidebar-link .fa,
.column .fa {
  color: #AFAFAF;
  vertical-align: baseline;
  margin-right: 5px;
}

.skills {
  border-top: 1px solid #232429;
  padding-top: 24px;
  margin-top: 24px;
}

.skills h2 {
  margin-bottom: 12px;
}

.sidebar-social-links-container {
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px;
  text-align: center;
}

.right {
  background: #232429;
}

@media screen and (min-width: 1008px){
  .right {
    float: right;
    width: 67%;
    padding-left: 24px;
  }
}

.section {
  cursor: default;
  color: #9B9B9B;
  background: black;
  border-top: 5px solid white;
  padding: 24px;
  margin-bottom: 24px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

@media screen and (min-width: 1008px){
  .section {
    margin-right: 24px;
  }
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.fa {
  color: #232429;
  transition: ease all 0.2s;
}

.fa:hover {
  color: #29292E;
}