.column {
  cursor: default;
  color: #9B9B9B;
  background: #2F2F34;
  border-top: 5px solid #00C66B;
  padding: 24px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.15s linear 0s;
  font-size: 12px;
}

@media screen and (min-width: 1008px){
  .column {
    margin-right: 0;
  }
}

.column li {
  font-size: 14px;
}

.section.columns { 
  padding: 0;
  background: transparent;
  border-top: none;
  box-shadow: none;
}

.column:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
}

.project-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #AFAFAF;
  font-size: 12px;
  margin-bottom: 12px;
}